<div class="json-diff-table-container">
  <table class="diff-table">
    <thead>
      <tr>
        <th>Path</th>
        <th *ngIf="showOriginalColumn">Original Value</th>
        <th *ngIf="showModifiedColumn">Modified Value</th>
        <th>Change Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diff of diffResults" [ngClass]="diff.type">
        <td class="path-cell">{{ diff.path }}</td>
        <td *ngIf="showOriginalColumn" class="value-cell" [ngClass]="{
          'removed': diff.type === 'removed',
          'modified': diff.type === 'modified'
        }">
          <pre *ngIf="diff.oldValue !== undefined">{{ diff.oldValue | json }}</pre>
          <span *ngIf="diff.oldValue === undefined" class="empty-value">Empty</span>
        </td>
        <td *ngIf="showModifiedColumn" class="value-cell" [ngClass]="{
          'added': diff.type === 'added',
          'modified': diff.type === 'modified'
        }">
          <pre *ngIf="diff.newValue !== undefined">{{ diff.newValue | json }}</pre>
          <span *ngIf="diff.newValue === undefined" class="empty-value">Empty</span>
        </td>
        <td class="type-cell">
          <span class="change-badge">{{ diff.type }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
