<div class="json-diff-table-container">
  <table class="diff-table">
    <thead>
      <tr>
        <th>{{ translateText('path', 'Path') }}</th>
        <th *ngIf="showOriginalColumn">{{ translateText('originalValue', 'Original Value') }}</th>
        <th *ngIf="showModifiedColumn">{{ translateText('modifiedValue', 'Modified Value') }}</th>
        <th>{{ translateText('changeType', 'Change Type') }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let diff of diffResults; let i = index">
        <tr [ngClass]="diff.type">
          <td class="path-cell">
            <span *ngIf="isExpandable(diff)" (click)="toggleExpand(i)" class="expand-toggle" style="cursor:pointer; user-select:none;">
              <span *ngIf="!isExpanded(i)">▶</span>
              <span *ngIf="isExpanded(i)">▼</span>
            </span>
            {{ diff.path }}
          </td>
          <td *ngIf="showOriginalColumn" class="value-cell" [ngClass]="{
            'removed': diff.type === 'removed',
            'modified': diff.type === 'modified'
          }">
            <ng-container *ngIf="diff.oldValue !== undefined && !isExpandableValue(diff.oldValue)">
              <pre>{{ diff.oldValue | json }}</pre>
            </ng-container>
            <span *ngIf="diff.oldValue === undefined || isExpandableValue(diff.oldValue) && !isExpandableValue(diff.newValue)" class="empty-value">{{ translateText('empty', 'Empty') }}</span>
          </td>
          <td *ngIf="showModifiedColumn" class="value-cell" [ngClass]="{
            'added': diff.type === 'added',
            'modified': diff.type === 'modified'
          }">
            <ng-container *ngIf="diff.newValue !== undefined && !isExpandableValue(diff.newValue)">
              <pre>{{ diff.newValue | json }}</pre>
            </ng-container>
            <span *ngIf="diff.newValue === undefined || isExpandableValue(diff.newValue) && !isExpandableValue(diff.newValue)" class="empty-value">{{ translateText('empty', 'Empty') }}</span>
          </td>
          <td class="type-cell">
            <span class="change-badge">{{ translateType(diff.type) }}</span>
          </td>
        </tr>
        <tr *ngIf="isExpanded(i) && isExpandable(diff)">
          <td colspan="4" class="expanded-cell">
            <app-table-json-diff-viewer
              [oldJson]="getSubJson(diff.oldValue)"
              [newJson]="getSubJson(diff.newValue)"
              [autoExpand]="autoExpand"
              [hideTypes]="hideTypes"
              >
            </app-table-json-diff-viewer>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
